{% extends "layouts/base.html" %}
{% load static %}
{% block content %}
    <div class="header bg-primary pb-6">
    <div class="container-fluid">
      <div class="header-body">
        <div class="row align-items-center py-4">
          <div class="col-lg-6 col-7">
            <h6 class="h2 text-white d-inline-block mb-0"></h6>

          </div>
          <div class="col-lg-6 col-5 text-right">
            <a href="{% url 'representante_legal_create' %}" class="btn btn-sm btn-neutral">Crear</a>
          </div>
        </div>
      </div>
    </div>
  </div>
<div class="container-fluid mt--6">
    <div class="row">
        <div class="col">
            <div class="card">
            <form method="get" action = "">
                {{ filter.form.as_p }}
                <button type="submit">Buscar</button>
                </form>
            </div>
        </div>


    </div>
    <div class="row">
        <div class="col">
            <div class="card">
          <!-- Card header -->
          <div class="card-header border-0">
            <h3 class="mb-0">Listado de representantes legales</h3>
          </div>
          <!-- Light table -->
          <div class="table-responsive">
            <table class="table align-items-center table-flush">
              <thead class="thead-light">
                <tr>
                  <th scope="col" class="sort" data-sort="cedula">Cedula</th>
                  <th scope="col" class="sort" data-sort="primer_nombre">Primer Nombre</th>
                  <th scope="col" class="sort" data-sort="primer_apellido">Primer Apellido</th>
                  <th scope="col" class="sort" data-sort="telefono">Telefono</th>
                  <th scope="col" class="sort" data-sort="celular">Celular</th>
                  <th scope="col" class="sort" data-sort="correo">Correo</th>
                  <th scope="col"></th>
                </tr>
              </thead>
              <tbody class="list">
                {% if representantes_legales %}

                    {% for representante_legal in representantes_legales %}
                    <tr>
                      <td class="budget">
                          {{ representante_legal.cedula }}
                      </td>
                      <td class="budget">
                            {{ representante_legal.primer_nombre }}
                      </td>
                      <td class="budget">
                        {{ representante_legal.primer_apellido }}
                      </td>
                        <td class="budget">
                            {{ representante_legal.telefono }}
                      </td>
                      <td class="budget">
                          {{ representante_legal.celular }}
                      </td>
                        <td class="budget">
                          {{ representante_legal.correo }}
                      </td>

                      <td class="text-right">
                        <div class="dropdown">
                          <a class="btn btn-sm btn-icon-only text-light" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fas fa-ellipsis-v"></i>
                          </a>
                          <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
                            <a class="dropdown-item" href="{% url 'representante_legal_detail' pk=representante_legal.pk%}">Ver Detalles</a>
                            <a class="dropdown-item" href="{% url 'representante_legal_update' pk=representante_legal.pk %}">Actualizar</a>
                            <a class="dropdown-item" href="{% url 'representante_legal_delete' pk=representante_legal.pk %}">Borrar</a>
                          </div>
                        </div>
                      </td>
                    </tr>
                {% endfor %}
                {% else %}
                <tr>
                  <td colspan="6">No hay representantes legales registrados</td>
                </tr>
                {% endif %}
              </tbody>
            </table>
          </div>
        {% if is_paginated  %}
            {% include 'includes/pagination_list.html' with page=page_obj %}
        {% endif %}


        </div>

        </div>

    </div>
</div>

{% endblock %}
